<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vicath - Libreria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
        <div class= "logo">
            <img class="imagen-logo" src="./images/logo.png" alt="Logo de pagina">
        </div>
        <div class="form-busqueda">
            <form action="#" method="get">
                <input type="text" placeholder="Buscar productos">
                <button type="submit">Buscar</button>
            </form>
        </div>
        <div class="cart">
            <a href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        <div class="login">
            <a href="#">
                <i class="fas fa-user-circle"></i> 
            </a>
        </div>
        <div class="darkmode">
            <i class="fas fa-moon"></i>  
            <a href="#">
                <i class="fas fa-toggle-on"></i>
            </a>
        </div>
        </div>
        <div class="button-header">
        <nav>
            <ul>
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Oficina</a></li>
                <li><a href="#">Universitario</a></li>
                <li><a href="#">Escolares</a></li>
                <li><a href="#">Artistica</a></li>
            </ul>
        </nav>
    </div>
    <div class="carrusel-caja">
        <img src="/images/carrusel.png" class="carrusel">
    </div>
    </header>
    <main>
        <section class="filtrado-contenedor">
            <div class="filtrado">
            <p>Filtrar por:</p>
            <nav>
                <ul>
                    <li><a href="#">Marca</a></li>
                    <li><a href="#">Tipo de producto</a></li>
                    <li><a href="#">Uso</a></li>
                    <li><a href="#">Color</a></li>
                    <li><a href="#">Modelo</a></li>
                    <li><a href="#">Material</a></li>
                </ul>
            </nav>
            </div>
        </section>
        <section class="productosxD">
            <h3>Productos destacados</h3>
            <div class="destacados">
           
            <article>
                <img src="./images/cuaderno.jpg" class="cuaderno" >
                <div class="main-article">
                    <h4>Titulo producto</h4>
                    <p>Descripcion producto</p>
                    <p>Precio</p>   
                </div>
            </article>
            <article>
                <img src="./images/marcadores-gel.jpg" class="marcadores-gel">
                <div class="main-article">
                   <h4>Titulo producto</h4>
                    <p>Descripcion producto</p>
                    <p>Precio</p> 
                </div>
            </article>
            <article>
                <img src="./images/marcadores-pastel.jpg" class="marcadores-pastel">
                <div class="main-article">
                    <h4>Titulo producto</h4>
                    <p>Descripcion producto</p>
                    <p>Precio</p>
                </div>
            </article>
            <article>
                <img src="./images/cuadernos.jpg" class="cuadernos">
                <div class="main-article">
                    <h4>Titulo producto</h4>
                    <p>Descripcion producto</p>
                    <p>Precio</p> 
                </div>
            </article>
        </div>

        <h3>Productos en oferta</h3>
        <div class="ofertas">
            
            <article>
                <img src="./images/cuaderno.jpg" class="cuaderno" >
                <div class="main-article">
                    <h4>Titulo producto</h4>
                    <p>Descripcion producto</p>
                    <p>Precio</p>   
                </div>
            </article>
            <article>
                <img src="./images/marcadores-gel.jpg" class="marcadores-gel">
                <div class="main-article">
                   <h4>Titulo producto</h4>
                    <p>Descripcion producto</p>
                    <p>Precio</p> 
                </div>
            </article>
            <article>
                <img src="./images/marcadores-pastel.jpg" class="marcadores-pastel">
                <div class="main-article">
                    <h4>Titulo producto</h4>
                    <p>Descripcion producto</p>
                    <p>Precio</p>
                </div>
            </article>
            <article>
                <img src="./images/cuadernos.jpg" class="cuadernos">
                <div class="main-article">
                    <h4>Titulo producto</h4>
                    <p>Descripcion producto</p>
                    <p>Precio</p> 
                </div>
            </article>
        </div>
    </section>
    </main>
    <footer>
        <section>
            <h4> contacto</h4>
        </section>
        <section>
            <h4> seguinos</h4>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </section>
        <section>
            <h4> Suscribite</h4>
            <input type="email" placeholder="ingresa tu e-mail"> 
            <button> suscribirme</button>
        </section>
       <section>
           <h4>Medios de pago</h4>
       </section>
        <section>
            <h4>cuenta</h4>
        </section>
    </footer>
</body>
</html>